/* ===================== SECTION 1 ===================== */
.section1 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 1.5rem;
    padding-top: 6rem;
}

.section1-container {
    width: 100%;
    max-width: 72rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.design-main {
    max-width: 56rem;
    text-align: left;
}

.frase-circulo {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid  #578D3F;
    color:  #578D3F;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 99999px;
}

.frase-circulo-icon {
    width: 0.5rem;
    height: 0.5rem;
    background-color:  #578D3F;
    border-radius: 99999px;
}

.texto-principal {
    color: #fff3f8;
    font-family: system-ui, sans-serif, "Inter";
    font-size: 3.75rem;
    line-height: 1;
    text-align: left;
    font-weight: 700;
    text-wrap: wrap;
    margin-bottom: 1.5rem;
}

.texto-verde {
    background-image: linear-gradient(to left, #36652f, #1c3418);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.paragrafo-principal {
    font-family: system-ui;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: calc(1.75 / 1.25);
    color: #aab0bb;
    max-width: 42rem;
    margin-bottom: 2.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 4rem;
}

.descobrir {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-inline: 2.5rem;
    height: 3.5rem;
    box-shadow: 0 4px 20px #36652f33;
    background-image: linear-gradient(135deg, #36652f, #1c3418);
    border-radius: 0.75rem;
    transition: all ease 0.5s;

}

.buttons svg {
    pointer-events: none;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.descobrir:hover {
    background-image: linear-gradient(135deg, #36652f, #1c3418);
}

.login {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.125rem;
    height: 3.5rem;
    line-height: calc(1.75 / 1.125);
    padding-inline: 2.5rem;
    background-color: #171717;
    border: 1px solid #333333;
    border-radius: 0.75rem;
    transition: all 0.5s ease;
}

.login:hover {
    background-color: #202020;
}

/* ===================== SECTION ADVANTAGES ===================== */
.section-advantages {
    padding-inline: 1.5rem;
    padding-block: 6rem;
}

.container-advantages {
    margin-inline: auto;
    width: 100%;
    max-width: 72rem;
    padding-inline: 2rem;
}

.design-grid-advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: #171717;
    border: 1px solid #333333;    
    border-radius: 0.75rem;
    color: #fff3f8;
    transition: all 0.5s ease;
}

.item:hover {
    border: 1px solid #4A8C3C;
    box-shadow: 0 4px 20px #36652f33;

}

.item-icon-advantages {
    padding: 1rem;
    background-color: #2f642f1a;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
}

.lucide-shield-check-icon,
.lucide-chart-no-axes-column-increasing-icon,
.lucide-users-icon {
    color: #36652f;
    width: 2rem;
    height: 2rem;
}

.title-item {
    text-align: center;
    font-family: "Inter", system-ui, sans-serif;
    color: #f8f6f7;
    font-size: 1.25rem;
    line-height: calc(1.75 / 1.25);
    font-weight: 700;
    margin-bottom: 1rem;
}

#frase-item {
    line-height: 1.625;
    color: #aab0bb;
}

/* ===================== SECTION 2 ===================== */
.section2 {
    padding-top: 6rem;
    padding-inline: 1.5rem; 
    
}

.section2-container {
    width: 100%;
    max-width: 72rem;
    padding-inline: 2rem;
    margin-inline: auto;
}

.text-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
}

.text-products {
    font-family: "Inter", system-ui, sans-serif;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-wrap: nowrap;
}

.buttons-products-div {
    display: flex;
    gap: 0.5rem;
}

.button-products {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875);
    font-weight: 500;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #24421E;
    border: 1px solid #4A8C3C;
    transition: all 0.5s ease;
}

.button-products:hover {
    background-color: #4A8C3C;
    box-shadow: 0 4px 20px #36652f33
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: #0a0a0a;
    border: 1px solid #333333;
    gap: 1.5rem;
}

.products-element {
    aspect-ratio: 1 / 1;
    background-color: #171717;
    border: 1px solid #333333;
    border-radius: 0.75rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease;
}

.products-element:hover {
    background-color: #222222;
    transform: translateY(-0.5rem);
    border: 1px solid #4A8C3C;
    box-shadow: 0 4px 20px #36652f33;

}

.products-element-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease, transform 0.5s ease;
}

.item-icon-products {
    width: 4rem;
    height: 4rem;
    background-color: #2f642f1a;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 1.25rem;
    background-color: #36652f33;
}

.title-products-elements {
    font-size: 1.125;
    line-height: 1.75;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.category-products-elements {
    font-size: 0.875;
    line-height: 1.25;
    color: #aab0bb;
}

/* ===== RESET E NORMALIZAÇÃO ===== */

body,
html {
    background: radial-gradient(ellipse at 60% 20%, rgba(52, 255, 0, 0.01) 0%, rgba(26, 61, 26, 0.02) 20%, rgba(0, 0, 0, 1) 100%),
        linear-gradient(to bottom, #000 0%, #070707 60%, #101a10 85%, #000 99%, #000 100%);
    color: #fff3f8;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* ===== FONTES ===== */

@font-face {
    font-family: Noopla;
    src: url('font/NooplaRegular.woff') format('woff');
    src: url('font/NooplaRegular.woff2') format('.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Tango;
    src: url(tangosans/TangoSans.ttf) format(truetype);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Tommy-menor;
    src: url(made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

/* ===== ESTILOS GERAIS ===== */

a {
    text-decoration: none;
}

/* ===== HEADER ===== */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(6px);
    border-bottom: 1px solid #24421E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.2);
    transition: backdrop-filter 0.5s ease-in-out;
}

.header-container {
    width: 100%;
    max-width: 72rem;
    padding: 1.5rem 0.75rem;
    margin-inline: auto;
}

.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.75rem;
}

.logo img {
    width: 40px;
    height: 40px;
    max-width: 100%;
    min-width: 2.5rem;
    min-height: 2.5rem;
}

.Cosmos {
    font-family: "Inter", system-ui, sans-serif;
    color: #fff3f8;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.search-bar {
    display: flex;
    position: relative;
    flex: 1;
    max-width: 28rem;
    margin-inline: 2rem;
}

.search-bar-input {
    width: 100%;
    height: 2.5rem;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    padding-left: 3rem;
    background-color: transparent;
    border: 1px solid #171717;
    border-radius: 99999px;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27none%27%20stroke%3D%27Gray%27%20stroke-width%3D%272%27%20stroke-linecap%3D%27round%27%20stroke-linejoin%3D%27round%27%3E%3Ccircle%20cx%3D%2711%27%20cy%3D%2711%27%20r%3D%278%27%2F%3E%3Cline%20x1%3D%2721%27%20y1%3D%2721%27%20x2%3D%2716.65%27%20y2%3D%2716.65%27%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: left 1.125rem center;
    background-size: 1.25rem;
}

.search-bar:hover {
    color: #4A8C3C;
}

.search-bar-input:hover {
    border: 1px solid #333333;
}

.search-bar-input:focus {
    border: 1px solid #4A8C3C;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.navbar-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding-inline: 0.75rem;
    border-radius: 0.375rem;
    height: 2.25rem;
    cursor: pointer;
    color: #aab0bb;
    transition: all 0.5s ease;

}

.navbar-button:hover {
    color: #4A8C3C;
}

.div-buttons-navbar {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.div-buttons-navbar svg {
    pointer-events: none;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.button-login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding-inline: 0.75rem;
    border-radius: 0.375rem;
    height: 2.25rem;
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: #171717;
}

.button-login:hover {
    background-color: #111111;
    color: #4A8C3C;
}

.button-venda {
    background-color: #24421E;
    border: 1px solid #4A8C3C;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding-inline: 0.75rem;
    border-radius: 0.375rem;
    height: 2.25rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button-venda:hover {
    background-color: #4A8C3C;
}

.button-profile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding-inline: 0.75rem;
    border-radius: 0.375rem;
    height: 2.25rem;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid #333333;
    border-radius: 1.25rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
}

.button-profile:hover {
    color: #4A8C3C;
    border-color: #171717;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    color: #fff3f8;
    z-index: 1001;
}

/* Additional button styles */

.lucide-arrow-right-icon {
    margin-left: 10px;
}

#descobrir:hover {
    background-color: #24421E;
}

#login:hover {
    background-color: #222222;
}

/* ===== FOOTER ===== */

.footer-section {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin-inline: auto;
    max-width: 80rem;
    width: auto;
}

.footer-logo-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

#button-social {
    background-color: #222222;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;
}

#button-social:hover {
    background-color: #4A8C3C;
    color: #0a0a0a;
}

.footer {
    border-bottom: 1px solid #333333;
    font-family: system-ui;
    display: flex;
    width: 100%;
}

.footer-div p {
    color: oklch(70.8% 0 0);
}

.footer-div {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 1.5rem;
    flex: 1;
}

.title-footer {
    font-weight: 500;
    font-size: 1.3rem;
    text-wrap: nowrap;
}

.text-footer ul {
    list-style: none;
    color: oklch(70.8% 0 0);
    padding: 0;
    line-height: 2rem;
}

.text-footer {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
}

.text-footer li {
    display: flex;
    font-size: 1.1rem;
    transition: color 0.5s ease;
}

.bottom-footer {
    color: oklch(70.8% 0 0);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.bottom-footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.text-footer li:hover {
    color: #4A8C3C
}

.bottom-footer li:hover {
    color: #36722E
}

/* ===== MEDIA QUERIES ===== */